body {
    margin: 0;
    width: unset;
    text-align: center;
}

.player {
    display: inline-block;
}

.area, .title, section {
    text-align: left;
    width: 480px;
    display: inline-block;
}
#player-area {
    width: unset;
}

.full-screen {
    display: none;
}